<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TicTacToe {{ title }}</title>
    <link type="text/css" href="{% static 'tictac/css/styles.css' %}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'tictac/images/favicon.ico' %}" type="image/x-icon"/>
</head>

<body>
{% block main_sidebar %}
<div class="main_sidebar">
    <ul id="mainmenu" class="mainmenu">
        {% for m in menu %}
            <li>
                <a href="{% url m.url_name %}">
                    <div class="">
                        {{ m.title }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<!--<div class="main_sidebar">-->
<!--    <ul id="mainmenu" class="mainmenu">-->
<!--        {% for m in menu %}-->
<!--            <div class="">-->
<!--                {% if m.title == title %}-->
<!--                    <li class="selected">{{ m.title }}</li>-->
<!--                {% else %}-->
<!--                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>-->
<!--                {%endif %}-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->


{% endblock main_sidebar %}


{% block content %}
{% endblock content %}


{% block right_sidebar %}
<div class="right_sidebar">
    <div class="right_sidebar_inner">
        <ul>
<!--            <li id="info_li_-1">11111</li>-->
<!--            <li id="info_li_0">2222222222222222222222</li>-->
            <li id="info_li_1">
                <form id="player_name_form" action="" method="post">
                    {% csrf_token %}
                        {{ form }}
                        <div class="form-error">
                            {{f.errors}}
                        </div>
                </form>
            </li>
            <li id="info_li_2">
                <button id="button_join_lobby" onclick="join_lobby_clicked()">
                    Join lobby
                </button>
            </li>
            <li id="info_li_3">
<!--                <button id="button_automatch" onclick="button_automatch_clicked()">-->
<!--                    Automatch-->
<!--                </button>-->
            </li>
            <li id="info_li_4">...</li>
            <li id="info_li_5">...</li>  <!-- vs-->
            <li id="info_li_6">...</li>
            <li id="info_li_7">
<!--                <div id="game_status_text">-->
<!--                    Game status: not ready, press 'automatch'-->
<!--                </div>-->
            </li>
            <li id="info_li_8">...</li>
            <li id="info_li_9">...</li>
            <li id="info_li_10">...</li>
            <li id="info_li_11">...</li>
            <li id="info_li_12">...</li>
            <li id="info_li_13">...</li>
            <li id="info_li_14">...</li>
            <li id="info_li_15">...</li>
            <li id="info_li_16">...</li>
            <li id="info_li_17">...</li>
            <li id="info_li_18">...</li>
        </ul>



<!--        hello-->
<!--        Username: {{player.name}}-->
<!--        Unit to use: {{player.unit}}-->
    </div>
<!--    <ul id="mainmenu" class="mainmenu">-->
<!--        {% for m in menu %}-->
<!--            {% if m.title == title %}-->
<!--                <li class="selected">{{ m.title }}</li>-->
<!--            {% else %}-->
<!--                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>-->
<!--            {%endif %}-->
<!--        {% endfor %}-->
<!--    </ul>-->
</div>
{% endblock right_sidebar %}

</body>
</html>

