<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TicTacToe {{ title }}</title>
    <link type="text/css" href="{% static 'tictac/css/styles.css' %}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'tictac/images/favicon.ico' %}" type="image/x-icon"/>
</head>

<body>
{% block main_sidebar %}
<div class="main_sidebar">
    <ul class="mainmenu" id="mainmenu">
        {% for m in menu %}
            <li>
                <a href="{% url m.url_name %}">
                    <div class="">
                        {{ m.title }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<!--<div class="main_sidebar">-->
<!--    <ul id="mainmenu" class="mainmenu">-->
<!--        {% for m in menu %}-->
<!--            <div class="">-->
<!--                {% if m.title == title %}-->
<!--                    <li class="selected">{{ m.title }}</li>-->
<!--                {% else %}-->
<!--                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>-->
<!--                {%endif %}-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->


{% endblock main_sidebar %}


{% block content %}
{% endblock content %}



<div class="right_sidebar">
    <div class="right_sidebar_inner">
        {% block right_sidebar %}
        {% endblock right_sidebar %}
    </div>
<!--    <ul id="mainmenu" class="mainmenu">-->
<!--        {% for m in menu %}-->
<!--            {% if m.title == title %}-->
<!--                <li class="selected">{{ m.title }}</li>-->
<!--            {% else %}-->
<!--                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>-->
<!--            {%endif %}-->
<!--        {% endfor %}-->
<!--    </ul>-->
</div>


</body>
</html>

