{% extends 'tictac/base.html' %}
{% load static %}

{% block content %}
<main>

<!--    <div class="options-bar">-->
<!--        hello-->
<!--        Username: {{player.name}}-->
<!--        Unit to use: {{player.unit}}-->
<!--    </div>-->



    <div class="grid-out">
        <div class="grid-outer">
            <div class="grid-inner">
                {% for f in list_fields %}
                <button class="button_field_not_allowed2s" id="field_{{f.index}}" onclick="Ffunc({{f.index}})">
                    {{f.value}}
                    <!--                {{f.index}}-->
                </button>
                {% endfor %}
            </div>
        </div>
    </div>


</main>
{% endblock content %}