{% extends 'tictac/base.html' %}
{% load static %}

{% block content %}
<main>
    hello
    <p id="p_id_1">
        Initial value of p
    </p>

    <button id="but_1">
        mega button
    </button>


    <script>
        const rName = "tic_test";

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + rName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            msg = data.message + '\n'
            document.getElementById("but_1").innerHTML = msg;


            var st = 'new text';
            document.getElementById("p_id_1").innerHTML = st;
            console.log(st);

            //document.querySelector('#chat-log').value += (data.message + '\n');
            //console.log("error on message")
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector("#but_1").onclick = function(e) {
            //const messageInputDom = document.querySelector('#chat-message-input');
            const message = "hello yoyoyo"
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            //messageInputDom.value = '';


        };




        /*
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';


        };
        */
    </script>
</main>
{% endblock content %}